@keyframes rotation {
	from {
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		}
	to {
		-ms-transform: rotate(360deg); /* IE 9 */
		-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
		transform: rotate(360deg);
		}
}

@keyframes deformation {
	from {
		#-ms-transform: matrix(1,1,1,1,1,1); /* IE 9 */
		# -webkit-transform: matrix(1,1,1,1,1,1); /* Chrome, Safari, Opera */
		top: -100%;
		letter-spacing: 5px;
	}
	to {
		# -ms-transform: mmatrix(-1.586,0.3,0.5,01.586,0,-600); /* IE 9 */
		# -webkit-transform: matrix(0,0,0.5,0.32,20,10); /* Chrome, Safari, Opera */
		top: 100%;
		letter-spacing: 10px;
	}
}

@keyframes frissons {
	from {
		letter-spacing: 0;
	}
	to {
		letter-spacing: 0.1em;
	}
}

@keyframes ecartelement {
	from {
		line-height: 1em;
	}
	to {
		line-height: 2em;
	}
}
@keyframes balayage {
	from {
		top : 100%;
		color: #300;
	}
	to {
		top: -100%;
		color: #030;
	}
}

@keyframes cligno {
	from {
		background-color:#111;
	}
	to {
		background-color:#666;
	}
}

body {
	color: #fff;
	background-color: #003;
	max-height: 100vh;
	max-width: 100vw;
	overflow:hidden;
	letter-spacing: -20px;
	font-size:10em;
	animation-name: cligno;
	animation-iteration-count: infinite;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-direction: alternate;	
}

p {
	position: absolute;
	color: yellow;
	background-color: transparent;
	margin: 0;
}

div {
	position: absolute;
	background-color: transparent;
}


.small {
	letter-spacing: -2px;
}


.dervish, div:nth-of-type(2) {
	animation-name: rotation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

div:nth-of-type(2) {
	animation-duration: 4s;
}

.yoga {
	animation-name: deformation;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

.friture {
	animation-name: frissons;
	animation-iteration-count: infinite;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-direction: alternate;
}

.accordeon {
	animation-name: ecartelement;
	animation-iteration-count: infinite;
	animation-duration: 0.1s;
}

.balais {
		transform: scaleY(20);
		left: -50px;
		animation-name: balayage;
		animation-iteration-count: infinite;
		animation-duration: 0.5s;
		animation-timing-function: ease-in;
}

body:hover *, body:hover {
	animation-duration: 50s;
}